<!-- begin slider -->
<div class="slider pixi-slider-container js-slider">
  <div class="pixi-slider-wrap">
    {% for i in range(0, 5) %}
    <div class="pixi-slider-slide" data-src="./img/{{ i + 1 }}.jpg">
      <div class="slider__title">hello from slide {{ i + 1 }}</div>
    </div>
    {% endfor %}

{#     <div class="pixi-slider-slide" data-src="https://source.unsplash.com/Y7GUOQ83OMg/600x400">
      <div class="slider__title">hello from slide 1</div>
    </div>
    <div class="pixi-slider-slide" data-src="https://source.unsplash.com/eXFsmfHCH64/600x400">
      <div class="slider__title">hello from slide 3</div>
    </div>
    <div class="pixi-slider-slide" data-src="https://source.unsplash.com/XGBWHz9Upxc/600x400">
      <div class="slider__title">hello from slide 5</div>
    </div> #}
  </div>
  <div class="pixi-slider-controls">
    <button class="arrow js-prev">Prev</button>
    <button class="arrow js-next">Next</button>
  </div>
  <div class="pixi-slider-nav js-slider-nav"></div>
</div>
<!-- end slider -->
